<link rel="stylesheet" href="/css/home.css" />
<div class="homePageBack">
  <div class="content-panel">
    <div class="wrapper"><strong><center><font color="#f7376a">CLAN</font> APP</center></strong></div>
    <div class="wrapper">Welcome, Log In</div>
    <form action="" method="POST">
      <label for="">E-Mail</label>
      <input type="text" placeholder="" name="username"> </input>
      <label for="">Password</label>
      <input type="password" placeholder="" name="psw"> </input>
      <center><button type="submit">Login</button></center>
    </form>
    <div class="register">
        Do not have an account? <a href="">Register</a> or, <a href="">Forgot Password?</a>
    </div>
  </div>
  <div class="logo-panel">
      <strong>LOGO</strong>
  </div>
</div>
