<link rel="stylesheet" href="/css/panel.css" />
<div class="body-container">
  <div class="menu">
    <div class="logo">
      <strong>
        <center><font color="#f90a48">CLAN</font> APP</center>
      </strong>
    </div>
    <div class="user">
      <img src="/images/avatar.png" alt="" />
      <div class="user-name">
        <strong>Shivankar Sharma</strong>
        <div class="user-tag">Admin</div>
      </div>
    </div>
    <div class="menu-item">Home</div>
    <div class="menu-item">Notifications</div>
    <div class="menu-item">Create Clan</div>
    <div class="menu-item">Edit Clan</div>
    <div class="menu-item">Add Admins</div>
  </div>
  <div class="page-content"></div>
</div>
