<link rel="stylesheet" href="/css/panel.css" />
<div class="body-container">
  <div class="left-side">
    <div class="menu">
      <div class="logo">
        <strong>
          <center><font color="#f90a48">CLAN</font> APP</center>
        </strong>
      </div>
      <div class="user">
        <img src="/images/avatar.png" alt="" />
        <div class="user-name">
          <strong>Shivankar Sharma</strong>
          <div class="user-tag">Admin</div>
        </div>
      </div>
      <div class="menu-item">
        <i class="fas fa-home"></i>
        <a href="#">Home</a>
      </div>
      <div class="menu-item">
        <i class="fas fa-bell"></i>
        <a href="#">Notifications</a>
      </div>
      <div class="menu-item"><i class="fas fa-plus-square"></i>Create Clan</div>
      <div class="menu-item">
        <i class="fas fa-edit"></i>
        Edit Clan
      </div>
      <div class="menu-item"><i class="fas fa-cog"></i>Account Settings</div>
    </div>
    <div class="bottom-menu">
      <div class="item">
        <i class="fas fa-sign-out-alt"></i>
        <a href="/user/logout">Logout</a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div id="home" class="section">
      <div class="title">Users</div>
    </div>
  </div>
</div>
